<div class="col-lg-6">
<div *ngIf="driver">
  <h2>Details of - {{driver.name}}</h2>
  <div><label>ID: </label>{{driver.id}}</div>
  <div><label>Name: </label>{{driver.name}}</div>
  <div><label>Place: </label>{{driver.place}}</div>

	<h2>Trips</h2>
	<table class="table table-striped trips">
	<thead>
	  <tr>
	    <th>From</th>
	    <th>To</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	  <tr *ngFor="let trip of (trips | myfilter: driver.id)">
	    <td>{{trip.src}}</td>
	    <td>{{trip.dest}}</td>
	    <td><span class="glyphicon glyphicon-search" title="View Trip" (click)="onSelectTrip(trip)"></span></td>
	  </tr>
	</tbody>
	</table>

  <button (click)="goBack()">Back</button>
</div>
</div>
<div class="col-lg-6" *ngIf="selectedTrip">
<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
<agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
<sebm-google-map-directions [origin]="origin" [destination]="destination"></sebm-google-map-directions>
</agm-map>
</div>
